<div id="page_wrapper">
	<div id="content">
		<h1> All jobs</h1>

			<% @jobs.each do |j| %>
				<div class="post_wrapper">
				<h2 class="title"><%= link_to j.job_name, job_path(j)%></h2>
				<% if j.user_id == current_user.id %>
					<button class="button"><%= link_to 'Delete', job_path(j), method: :delete, data: { confirm: 'Are you sure?' } %></button>
					<button class="button"><%= link_to 'Edit', edit_job_path(j) %></button>
					<button class="button"><%= link_to 'Assign boat', job_path(j) %></button>
				<% end %>
				Status: 
				<%= j.status_job %>
				<%= tag :br %>
				<p class="date_and_author"><%= j.created_at.strftime("%B, %d, %Y") %></p>
				Assign to: 
				<%= j.id %>
				<%= tag :br %>
				<% @boatjob.each do |boatjob| %>
					<% if boatjob.job_id == j.id %>
						<%= boatjob.boat_id%>
					<% end %>
				<% end %>
				</div>
		<% end %>
	</div>
</div>
