
<div id="page_wrapper">
	<div id="content">
		<% if !user_signed_in? %>
			<p>Thank you for choosing Ship' Service!</p>
			<p>In order to use the whole functionality, please sign-in!</p>
			<button class="button"><%= link_to "Login", new_user_session_path %></button>
		<% else %>	
			<h1>Your Jobs</h1>
			<% @jobs.each do |j| %>
				<% if j.user_id == current_user.id %>
					<div class="post_wrapper">
					<h2 class="title"><%= link_to j.job_name, job_path(j)%></h2>
					<button class="button"><%= link_to 'Delete', job_path(j), method: :delete, data: { confirm: 'Are you sure?' } %></button>

					<button class="button"><%= link_to 'Edit', edit_job_path(j) %></button>

					Status: 
					<%= j.status_job %>
					<%= tag :br %>
					<p class="date_and_author"><%= j.created_at.strftime("%B, %d, %Y") %></p>

					</div>
				<% end %>
			<% end %>	
		<% end %>





	</div>
</div>

