<%= render "form" %>

<h1>Current Boats</h1>


<% if @boats.blank? %>

<div class="empty-state">
	<h5>There are currently no boats available. Come back later.</h5>
</div>

<% else %>
<table>
	<tr>
		<th>Boat</th>
		<th>Name</th>
		<th>Size</th>
		<th>Current Location</th>
	</tr>

	<% @boats.each do |boat| %>
	<tr>
		<td><%= image_tag boat.image.url(:medium) %></td>
		<td><%= boat.name %></td>
		<td><%= boat.max_load %></td>
		<td><%= boat.current_l %></td>
		<td><%= link_to 'Edit', edit_boat_path(boat) %></td>
		<td><%= link_to 'Delete', boat, method: :delete %></td>
	</tr>
	<% end %>
</table>
<% end %>