<%= render "form" %>

<h1>Current Boats</h1>

<table>
	<tr>
		<th>Boat</th>
		<th>Name</th>
		<th>Size</th>
		<th>Current Location</th>
	</tr>

	<% @boats.each do |boat| %>
	<tr>
		<td><%= image_tag boat.image.url(:medium) %></td>
		<td><%= boat.name %></td>
		<td><%= boat.max_load %></td>
		<td><%= boat.current_l %></td>
		<td><%= link_to 'Description', boat_path(boat) %></td>
		<td><%= link_to 'Edit', edit_boat_path(boat) %></td>
		<td><%= link_to 'Delete', boat, method: :delete %></td>
	</tr>
	<% end %>
</table>